* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-one: #F55F8D;
}

body {
  font-family: "Roboto", sans-serif;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.button__gradient {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: none;
  line-height: 1.2;
}

.button__gradient:hover {
  background-position: right center;
}