/* Header */
header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header__menu {
  display: flex;
  align-items: center;
}

header .header__menu ul {
  display: flex;
  margin-right: 30px;
}

header .header__menu li {
  padding: 55px 15px;
}

header .header__menu li a {
  position: relative;
}

header .header__menu li a::before {
  content: "";
  position: absolute;
  color: #070120;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header__menu li:hover a {
  color: var(--color-one);
}

header .header__content i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
  padding-left: 5px;
}

header .header__content i::before {
  content: "\f078";
}

header .header__menu li p {
  display: inline-block;
}

header .header__menu .active a,
header .header__menu .active:hover {
  /* color: #35a22c; */
  animation: unset;
}

header .header__menu li:hover p {
  animation: upToDown 0.3s forwards;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* Section 1 */
.saCarousel {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(../Images/pic2.png);
  background-position: top;
  background-size: 100%;
}

.saCarousel .saCarousel__content {
  display: flex;
  align-items: center;
}

.saCarousel .saCarousel-left {
  width: 60%;
}

.saCarousel .saCarousel-left .title .inner-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-one);
}

.saCarousel .saCarousel-left .title .inner-title-desc {
  font-size: 70px;
  line-height: 1.1;
  font-weight: bold;
  color: #262626;
  margin-bottom: 20px;
}

.saCarousel .saCarousel-left .saCarousel__article .inner-article {
  font-size: 18px;
  margin-bottom: 15px;
}

.saCarousel .saCarousel-left .saCarousel__article ul {
  margin-bottom: 20px;
}

.saCarousel .saCarousel-left .saCarousel__article ul li {
  padding: 10px 5px 10px 0px;
}

.saCarousel .saCarousel-left .saCarousel__article ul li i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}

.saCarousel .saCarousel-left .saCarousel__article .button__gradient {
  padding: 20px 40px;
}

.saCarousel .saCarousel-right {
  width: 40%;
}

.saCarousel .saCarousel-right .saCarousel__banner {
  width: 570px;
  margin-left: 50px;
}

.saCarousel .saCarousel-right .saCarousel__banner img {
  display: block;
  max-width: 100%;
}
/* End Section 1 */

/* Section 2 */
.services {
  background-image: url(../Images/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.section-inner {
  padding-top: 115px;
}

section .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

section .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.services .services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.services .services__content .services__item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
  border-image: 100 round;
  border: 3px solid transparent;
}

.services .services__content .services__item:hover {
  transform: translateY(-20px);
  border-image: url(../Images/br.png) 1 round;
}

.services .services__content .services__item img {
  width: 215px;
}

.services .services__content .services__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
/* End Section 2 */

/* Section 3 */
.aboutUs {
  background-image: url(../Images/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}

.inner-section {
  padding-top: 115px;
}

.aboutUs .aboutUs__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.aboutUs .aboutUs__content .aboutUs__left {
  width: 60%;
  position: absolute;
  left: -17%;
}

.aboutUs .aboutUs__content .aboutUs__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.aboutUs .aboutUs__content .aboutUs__right {
  width: 50%;
}

.aboutUs .aboutUs__content .aboutUs__right .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.aboutUs .aboutUs__content .aboutUs__right .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.aboutUs .aboutUs__content .aboutUs__right p {
  margin-bottom: 15px;
}

.aboutUs .aboutUs__content .aboutUs__right ul {
  margin-bottom: 30px;
}

.aboutUs .aboutUs__content .aboutUs__right ul li {
  margin-bottom: 15px;
}

.aboutUs .aboutUs__content .aboutUs__right ul li i {
  font-size: 17px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
  font-style: italic;
  border: 1.5px solid #f55f8d;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
}

.aboutUs .aboutUs__content .aboutUs__right .button__gradient {
  padding: 20px 50px;
}
/* End Section 3 */

/* Section 4 */
.number {
  background-image: url(../Images/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.number .number__content {
  display: flex;
  justify-content: space-around;
}

.number .number__content .number__item {
  width: 25%;
}

.number .number__content .number__item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}

.number .number__content .number__item div:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
}

.number .number__content .number__item div:last-of-type {
  color: #262626;
  font-size: 18px;
}
/* End Section 4 */

/* Section 5 */
.features {
  background-image: url(../Images/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}

.features .features__content {
  display: flex;
}

.features .features__content .features__left,
.features .features__content .features__right {
  width: 50%;
}

.features .features__content .features__left .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.features .features__content .features__left .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.features .features__content .features__left .features__group .features__item {
  padding: 0 50px 30px 0;
}

.features
  .features__content
  .features__left
  .features__group
  .features__item
  div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.features
  .features__content
  .features__left
  .features__group
  .features__item
  .features__bg {
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.features
  .features__content
  .features__left
  .features__group
  .features__item
  .features__bg:hover::after {
  opacity: 1;
}

.features
  .features__content
  .features__left
  .features__group
  .features__item
  .features__bg:after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.features
  .features__content
  .features__left
  .features__group
  .features__item
  .features__bg
  h3 {
  color: #000;
}

.features
  .features__content
  .features__left
  .features__group
  .features__item
  .features__bg
  i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}

.features
  .features__content
  .features__left
  .features__group
  .features__item
  .features__bg:hover
  i,
.features
  .features__content
  .features__left
  .features__group
  .features__item
  .features__bg:hover
  div,
.features
  .features__content
  .features__left
  .features__group
  .features__item
  .features__bg:hover
  h3 {
  color: #fff;
}

.features .features__content .features__right {
  width: 50%;
}

.features .features__content .features__right .features__banner {
  margin-right: -80px;
}

.features .features__content .features__right .features__banner img {
  max-width: 100%;
  animation: move2 5s infinite;
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* End Section 5 */

/* Section 6 */
.portfolio {
  background-image: url(../Images/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  overflow: hidden;
}

.portfolio .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.portfolio .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.portfolio .portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio .portfolio__content .portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio__content .portfolio__item1 {
  grid-column: 1 / span 2;
}

.portfolio .portfolio__content .portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.portfolio .portfolio__content .portfolio__item img {
  width: 100%;
  height: 100%;
}

.portfolio .portfolio__content .portfolio__item .portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
} 

.portfolio .portfolio__content .portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}

.portfolio .portfolio__content .portfolio__item .portfolio__overlay .portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}

.portfolio .portfolio__content .portfolio__item .portfolio__overlay .portfolio__icon {
  cursor: pointer;
}

.portfolio .portfolio__content .portfolio__item:hover .portfolio__overlay .portfolio__icon {
  transform: translate(0);
}

.portfolio .portfolio__content .portfolio__item .portfolio__overlay .portfolio__icon a {
  color: #fff;
}

.portfolio .portfolio__content .portfolio__item .portfolio__overlay .portfolio__text {
  position: absolute;
  bottom: 10px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}

.portfolio .portfolio__content .portfolio__item .portfolio__overlay .portfolio__text h3 {
  font-size: 22px;
  font-weight: 800;
  color: white;
}

.portfolio .portfolio__content .portfolio__item .portfolio__overlay .portfolio__text p {
  color: #fff;
  opacity: 0.7;
}

.portfolio .portfolio__content .portfolio__item:hover .portfolio__overlay .portfolio__text {
  transform: translateY(0);
}
/* End Section 6 */

/* Section 7 */
.blog {
  background-image: url(../Images/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}

.blog .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.blog .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.blog__header {
  position: relative;
}

.owl-carousel {
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.blog__header img {
  border-radius: 8px;
}

.blog__header p {
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog__footer p:first-of-type {
  margin-right: 20px;
}

.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}

.blog__footer p:first-of-type span {
  color: #f55f8d;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-nav.disabled {
  display: none;
}

.owl-theme .owl-nav {
  margin-top: 10px;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
/* End Section 7 */

/* Section Footer */
footer {
  background-image: url(../Images/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(../Images/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}

.footer__text, .footer__form {
  width: 50%;
}

.footer__text h2 {
  font-size: 28px;
  color: #262626;
}

.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: none;
  transition: all .5s;
}

.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer__item {
  width: 25%;
}

.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all .5s;
}

.footer__contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.footer__item li {
  padding: 0.5rem 0;
}

.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}

.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer__item h3::before, .footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer__item h3::before {
  width: 15px;
}

.footer__item h3::before, .footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer__item h3::after {
  width: 45px;
  left: 20px;
}

.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all .5s;
}

.footer__item a:hover {
  color: white;
}

.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__left span {
  color: #f55f8d;
}

.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}

.footer__copyright a:hover {
  background: #f55f8d;
}

/* End Section Footer */