/* Header */
header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header__menu {
  display: flex;
  align-items: center;
}

header .header__menu ul {
  display: flex;
  margin-right: 30px;
}

header .header__menu li {
  padding: 55px 15px;
}

header .header__menu li a {
  position: relative;
}

header .header__menu li a::before {
  content: "";
  position: absolute;
  color: #070120;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header__menu li:hover a {
  color: var(--color-one);
}

header .header__content i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
  padding-left: 5px;
}

header .header__content i::before {
  content: "\f078";
}

header .header__menu li p {
  display: inline-block;
}

header .header__menu .active a, header .header__menu .active:hover {
  /* color: #35a22c; */
  animation: unset;
}

header .header__menu li:hover p {
  animation: upToDown 0.3s forwards;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* Section 1 */
.saCarousel {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(../Images/pic2.png);
  background-position: top;
  background-size: 100%;
}

.saCarousel .saCarousel__content {
  display: flex;
  align-items: center;
}

.saCarousel .saCarousel-left {
  width: 60%;
}

.saCarousel .saCarousel-left .title .inner-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-one);
}

.saCarousel .saCarousel-left .title .inner-title-desc {
  font-size: 70px;
  line-height: 1.1;
  font-weight: bold;
  color: #262626;
  margin-bottom: 20px;
}

.saCarousel .saCarousel-left .saCarousel__article .inner-article {
  font-size: 18px;
  margin-bottom: 15px;
}

.saCarousel .saCarousel-left .saCarousel__article ul {
  margin-bottom: 20px;
} 

.saCarousel .saCarousel-left .saCarousel__article ul li {
  padding: 10px 5px 10px 0px;
}

.saCarousel .saCarousel-left .saCarousel__article ul li i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  margin-right: 10px;
}

.saCarousel .saCarousel-left .saCarousel__article .button__gradient {
  padding: 20px 40px; 
}

.saCarousel .saCarousel-right {
  width: 40%;
}

.saCarousel .saCarousel-right .saCarousel__banner {
  width: 570px;
  margin-left: 50px;
}

.saCarousel .saCarousel-right .saCarousel__banner img {
  display: block;
  max-width: 100%;
}
/* End Section 1 */

/* Section 2 */
.services {
  background-image: url(../Images/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.section-inner {
  padding-top: 115px;
}

section .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

section .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.services .services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.services .services__content .services__item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
  border-image: 100 round;
  border: 3px solid transparent;
}

.services .services__content .services__item:hover {
  transform: translateY(-20px);
  border-image: url(../Images/br.png) 1 round;
}

.services .services__content .services__item img {
  width: 215px;
}

.services .services__content .services__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
/* End Section 2 */

/* Section 3 */
.aboutUs {
  background-image: url(../Images/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}

.inner-section {
  padding-top: 115px;
}

.aboutUs .aboutUs__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.aboutUs .aboutUs__content .aboutUs__left {
  width: 60%;
  position: absolute;
  left: -17%;
}

.aboutUs .aboutUs__content .aboutUs__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.aboutUs .aboutUs__content .aboutUs__right {
  width: 50%;
}

.aboutUs .aboutUs__content .aboutUs__right .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.aboutUs .aboutUs__content .aboutUs__right .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.aboutUs .aboutUs__content .aboutUs__right p {
  margin-bottom: 15px;
}

.aboutUs .aboutUs__content .aboutUs__right ul {
  margin-bottom: 30px;
}

.aboutUs .aboutUs__content .aboutUs__right ul li {
  margin-bottom: 15px;
}

.aboutUs .aboutUs__content .aboutUs__right ul li i {
  font-size: 17px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
  font-style: italic;
  border: 1.5px solid #f55f8d;
  border-radius: 50%;
  padding: 5px 5px 5px 5px; 
}

.aboutUs .aboutUs__content .aboutUs__right .button__gradient {
  padding: 20px 50px;
}
/* End Section 3 */

/* Section 4 */
.number {
  background-image: url(../Images/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.number .number__content {
  display: flex;
  justify-content: space-around;
}

.number .number__content .number__item {
  width: 25%;
}

.number .number__content .number__item i {
  font-size: 45px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}

.number .number__content .number__item div:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
}

.number .number__content .number__item div:last-of-type {
  color: #262626;
  font-size: 18px;
}
/* End Section 4 */